 * {
     box-sizing: border-box;
 }

 html,
 body {
     min-height: 100vh;
     padding: 0;
     margin: 0;
     font-family: Roboto, Arial, sans-serif;
     font-size: 14px;
     color: #666;
 }

 input,
 textarea {
     outline: none;
 }

 body {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 20px;
     background: #03adfc;
 }

 h1 {
     margin-top: 0;
     font-weight: 500;
 }

 .weather_inputs {
     position: relative;
     width: 80%;
     border-radius: 30px;
     background: #fff;
 }

 .left-decoration,
 .right-decoration {
     content: "";
     position: absolute;
     width: 50px;
     height: 20px;
     border-radius: 20px;
     background: #03adfc;
 }

 .left-decoration {
     bottom: 60px;
     left: -30px;
 }

 .right-decoration {
     top: 60px;
     right: -30px;
 }

 .left-decoration:before,
 .left-decoration:after,
 .right-decoration:before,
 .right-decoration:after {
     content: "";
     position: absolute;
     width: 50px;
     height: 20px;
     border-radius: 30px;
     background: #fff;
 }

 .left-decoration:before {
     top: -20px;
 }

 .left-decoration:after {
     top: 20px;
     left: 10px;
 }

 .right-decoration:before {
     top: -20px;
     right: 0;
 }

 .right-decoration:after {
     top: 20px;
     right: 10px;
 }

 .circle {
     position: absolute;
     bottom: 80px;
     left: -55px;
     width: 20px;
     height: 20px;
     border-radius: 50%;
     background: #fff;
 }

 .inner {
     padding: 40px;
 }

 .inner input,
 .inner textarea {
     display: block;
     width: 100%;
     padding: 15px;
     margin-bottom: 10px;
     border: none;
     border-radius: 20px;
     background: #d0dfe8;
 }

 .inner textarea {
     resize: none;
 }

 button {
     width: 100%;
     padding: 10px;
     margin-top: 20px;
     border-radius: 20px;
     border: none;
     border-bottom: 4px solid #0778ba;
     background: #03adfc;
     font-size: 16px;
     font-weight: 400;
     color: #fff;
 }

 button:hover {
     background: #03adfc;
 }

 @media (min-width: 568px) {
     form {
         width: 60%;
     }
 }